body {
    background: #fefefe;
    /* background: beige; */
    font-size: 15pt;
}

main {
    max-width: 75%;
    margin: auto;
}

header {
    border-bottom: 1px solid #afafaf;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    margin-bottom: 5px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.15rem;
}

h6 {
    font-size: 1.05rem;
}

.not-found,
.error {
    color: red;
}

.inputClass {
    border: 3px solid red;
}

.main-text {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
}

.welcome1 {
    /* text-decoration: wavy; */
    color: cornflowerblue;
}

.welcome2 {
    color: cornflowerblue;
    /* text-align: right; */
}

ul {
    padding: 20px;
}

ul li {
    list-style-type: square;
    padding: 5px;
    margin-left: 35px;
}

.form-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.form-container button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-footer {
    text-align: center;
}

p {
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 0;
    line-height: 1.77778rem;
    margin-bottom: 1.77778rem;
}

.search_box_1 {
    float: left;
    padding: 15px;
    width: 50%;
}

.search_box_2 {
    float: left;
    padding: 15px;
    width: 20%;
}

.search_box_3 {
    float: left;
    padding: 15px;
    width: 30%;
}

#search_form_box {
    box-sizing: border-box;
    height: 150px;
    /* background-color: lightgray; */
    background-color: lightskyblue;
    margin: 15px;
}

#popularDiv {
    float: left;
    padding: 5px;
    /* background-color: lightgray; */
    background-color: lightskyblue;
    width: 47%;
    margin: 15px;
}

#recentDiv {
    float: right;
    padding: 5px;
    /* background-color: lightgray; */
    background-color: lightskyblue;
    width: 47%;
    margin: 15px;
}

#login-box {
    width: 40%;
    text-align: center;
    margin: 0 auto;
    margin-top: 15%;
    /* background: lightgray; */
    background: pink;
    padding: 20px 50px;
}

#Register-box {
    width: 40%;
    text-align: center;
    margin: 0 auto;
    margin-top: 15%;
    background: lightgray;
    /* background: pink; */
    padding: 20px 50px;
}

.login_bar {
    margin: 10px;
}

.Register_bar {
    margin: 10px;
}

label {
    /* background-color: aqua; */
    /* color: aquamarine; */
    /* color: aqua; */
    color: black;
}


/* #clear {
    background-color: cornflowerblue;
}

#signup {
    background-color: cornflowerblue;
} */

a {
    color: rgba(255, 0, 255, 0.904);
    text-decoration: none;
    font-size: 14pt;
}

a:hover {
    color: red;
    text-decoration: underline;
}

a:visited {
    color: sienna;
}