body {
    background: #fefefe;
    font-size: 15pt;
}

main {
    max-width: 75%;
    margin: auto;
}

header {
    border-bottom: 1px solid #afafaf;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    margin-bottom: 5px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.15rem;
}

h6 {
    font-size: 1.05rem;
}

.not-prime {
    color: #FF3D00;
}

.is-prime {
	color: #00E676;
}

.not-found, .error{
    color: red;
}

.inputClass {
	border: 3px solid red;
}

.main-text{
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
}

ul {
    padding: 20px;
}
  

ul li {
    list-style-type: square;
    padding: 5px;
    margin-left: 35px;
}

.form-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.form-container button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-footer{
    text-align: center;
}

p {
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 0;
    line-height: 1.77778rem;
    margin-bottom: 1.77778rem;
}