<div>
    <h1 class='welcome3'> Welcome to RecipeShare! </h1>
    <br>
    <h2 class='statusCode'> Status Code 404 </h2>
    <br>
    <p class='error'> 
        We're sorry! <br> 
        We cannot complete your request right now due to an error. <br>
        Please try again later.
    </p>
    <br>
    <a href="/register">Click here to go back to the Registration Page</a>
    <br>
    <a href="/">Go here to go back to the Home Page</a>
    <br>
    <br>
</div>>