<div>
    <h1 style="text-align: center;">Recipe Share Homepage</h1>
    <div>{{{toolBar}}}</div><br>

    <a id="recipeLink" href="/recipe-form">Create a Recipe</a>

    <div class="error" id="errorDiv" hidden>You must enter an input value</div>
    <div id='search_form_box'>
        <form id="searchForm">
            <div class='search_box_1'>
                <label for='search_term'>Keyword:</label>
                <input type='text' required id="search_term" style="width:80%;" /><br>
            </div>
            <div class='search_box_2'>
                <input type='radio' id='both' name='type' value='both' checked>
                <label for="both">Both</label><br>
                <input type='radio' id='food' name='type' value='food'>
                <label for="food">Food</label><br>
                <input type='radio' id='drink' name='type' value='drink'>
                <label for="drink">Drink</label><br>
            </div>
            <div class='search_box_3'>
                <button type='submit'>Search Recipes</button>
            </div>
        </form>
    </div>

    <div id='popularDiv'>
        <h2>Most Popular Recipes:</h2>
        <ul id="popularList"></ul>
    </div>

    <div id='recentDiv'>
        <h2>Recent Recipes:</h2>
        <ul id="recentList"></ul>
    </div>


    <div id="resultDiv" hidden>
        <h2>Search Result:</h2>
        <ul id="resultList"></ul>
        <h2 id='noResultWarning' hidden>No search result, please try other keyword</h2>
    </div>

    <a id="homeLink" href="/" hidden>Back to main page</a>

</div>