<div>
    <h1>Login</h1>
    <form id="login-form" method="post" action='/login'>
        <div>
            <label for='username'>username:</label>
            <input name='username' id='username' type='text'>
        </div>

        <div>
            <label for='password'>password:</label>
            <input name='password' id='password' type='text'>
        </div>
        <div>
            <button type="submit">Sign in</button>
        </div>

    </form>

    <div id="error" class="error">{{errorMessage}}</div>
    <a href= "/register">Click here to register.</a>
</div>