<div>
    <h1>Login</h1>
    <form id="loginForm">
        <div>
            <label for='username'>username:</label>
            <input name='username' id='username' type='text' required>
        </div>

        <div>
            <label for='password'>password:</label>
            <input name='password' id='password' type='password' required>
        </div>
        <div>
            <button type="submit">Sign in</button>
        </div>

    </form>

    <div id="errorMsg" class="error"></div>
    <a href= "/register">Click here to register.</a>
</div>