<div id="login-box">
    <h1>Login</h1>
    <form id="loginForm">
        <div class='login_bar'>
            <label for='email'>Email:</label>
            <input name='email' id='email' type='email' required>
        </div>

        <div class='login_bar'>
            <label for='password'>Password:</label>
            <input name='password' id='password' type='password' required>
        </div>
        <div class='login_bar'>
            <button type="submit">Sign in</button>
        </div>

    </form>

    <div id="errorMsg" class="error login_bar"></div>
    <a href="/register">Click here to register.</a>
    <div><a href="/">Go back home</a></div>
    <div>
        <h2>Please sign in before exploring the recipe and profile pages.</h2>
    </div>

</div>