{{!-- <div id="Register-box">
    <h1>Register</h1>
    <form id="RegisterForm" action="/register" method="POST">
        <div class='Register_bar'>
            <label for='email'>Email:</label>
            <input name='email' id='email' type='text' required>
        </div>

        <div class='Register_bar'>
            <label for='password'>Password:</label>
            <input name='password' id='password' type='password' required>
        </div>

        <div class='Register_bar'>
            <label for='firstName'>firstName:</label>
            <input name='firstName' id='firstName' type='text' required>
        </div>

        <div class='Register_bar'>
            <label for='lastName'>lastName:</label>
            <input name='lastName' id='lastName' type='text' required>
        </div>

        <div class='Register_bar'>
            <label for='age'>age:</label>
            <input name='age' id='age' type='text' required>
        </div>

        <div class='Register_bar'>
            <input type="radio" id="male" name="gender" value="male">
            <label for="male">Male</label><br>
            <input type="radio" id="female" name="gender" value="female">
            <label for="female">Female</label><br>
        </div>
        <div class='Register_bar'>
            <label for='city'>city:</label>
            <input name='city' id='city' type='text'>
        </div>
        <div class='Register_bar'>
            <label for='state'>state:</label>
            <input name='state' id='state' type='text'>
        </div>
        
        <div class='Register_bar'>
            <button type="submit">Sign up</button>
        </div>

    </form>

    <div id="errorMsg" class="error Register_bar"></div>
</div> --}}